{%load static%}
<html>
    <head>
        <title>
           FaceApp
        </title>
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div>
            <h2>
                Welcome to facerecognize website.
            </h2>
                <h4>
                    <p>** Instructions **</p>
                    <p>1. First Add People who you want to recognize</p>
                    <p>2. Click on scan and show the result</p>
                </h4>
                <button type="button" class="btn"><a href="{% url 'add' %}"> Add People </a></button>
                <button type="button" class="btn"><a href="{% url 'scan' %}"> Scan People </a></button>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>